@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    gap: 20px;
}
body{
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

}
section{
    align-self: center;
    background: white;
    border-radius: 8px;
    padding: 30px;
    width: 60%;
    height: 275px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
h1{
    font-size: 30px;
}
form select{
    width: 240px;
    align-self: center;
    margin: 2px;
    height: 35px;
}
form input{
    width: 240px;
    align-self: center;
    margin: 2px;
    height: 35px;
}
.cadastrar{
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(90deg, #ff3b00 0%, #ff00ff 100%);
    padding: 10px 30px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0 0 0 0;
    border-radius: 22px 50px;
    transition : 327ms;
    transform: translateY(0);
}
footer{
    color: white;
}

